/* Height and Width example */
div {
    width: 200px;
    height: 200px;
    background-color: #e5989b;
}

h1 {
    background-color: pink;
    width: 100px;
}

h2 {
    background-color: green;
    width: 200 px;
}